* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
.tabemono {
:center;
}
@media only screen and (min-width: 767px)
.footer ._train {
    background-position: top center;
}
.footer ._train {
    background: url(../img/common/foot_bg.svg) top left repeat-x;
    height: 130px;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    top: -130px;
    left: 0;
    right: 0;
    margin: auto;
}
user agent stylesheet
div {
    display: block;
}
.footer {
    background: rgba(252, 221, 182, 0.5);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
    margin-top: 130px;
    overflow: hidden-x;
}
body {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    position: relative;
}
@media only screen and (min-width: 767px)
html {
    font-size: 18px;
    line-height: 1.8;
}
html {
    background-color: #fff;
    box-sizing: border-box;
    color: #333333;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    min-width: 320px;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
.container {
  width:25%;
  height:25px;
}
.copy-container {
  height:1px;
  float:center;
}

.top-wrapper {
  padding: 179px 0 99px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color:white;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}


.lessons{
  padding-top:150px;

}
.lesson-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  margin-top:150px;
  float: left;
  width: 25%;
  paddimg-top:300px;
  padding-bottom:50px;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
